<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Luis Castillo</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  
  <style>
    
    
    #banner{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 360px; 
    }

  </style>
  
</head>
<body>
  <div id="container" class="container mb-5">
  <h1 class="text-center mt-4">Luis Castillo</h1>
  <img id="banner" class="img-fluid" src="https://my-portfolio-website--luisec3.repl.co/static/banner.jpg" >
  <h2 class="text-center mt-4">About Luis</h2>
  <p class="text-center">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </p>
  <h2 class="text-center">Projects</h2>

  {% for project in projects %}
    <div class="border-bottom row mt-3" style="margin-bottom:16px;padding-bottom: 8px;">
      <div class="col-10">
        <h4 style="color:rgb(80,80,80);">{{project['title']}}</h4>   
        <div>
          <b>Topic:</b> {{project['topic']}}
        </div>
    </div>
      <div class="col-2">
        <button type="button" class="btn btn-outline-info">Open</button>
      </div>
    </div>
  {% endfor %}
    
  <div style="text-align: center;">
  <button type="button" class="btn btn-primary mt-4">Contact me</button>
  </div>
  </div>
</body>
</html>